{# On utilise ici le layout général, qui se situe dans le CoreBundle #}
{% extends "JTIRPlatformBundle::layout.html.twig" %}

{% block title %}
    Créer ma classe - {{ parent() }}
    {# parent() affiche le reste du block title. On ne fait que rajouter "Accueil - " au titre de la page #}
{% endblock %}

{% block menu %}
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Interface Enseignants <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="active"><a href="{{ path('jtir_enseignants_inscrire_classe') }}">Inscrire une classe</a></li>
            <li><a href="{{ path('jtir_enseignants_bibliotheque') }}">Sélectionner un conte</a></li>
            <li><a href="{{ path('jtir_enseignants_partenariat') }}">Créer un partenariat</a></li>
            <li><a href="{{ path('jtir_enseignants_dashboard') }}">Tableau de bord</a></li>
        </ul>
    </li>
    <li><a href="{{ path('jtir_enseignants_tuto') }}">Tutoriels</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
{% endblock %}

{% block body %}

    <!-- SECTION INSCRIRE CLASSE -->
    <section id="section_enseignants">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Inscrire une classe</h2>
                    <hr>
                </div>
            </div>

            <form method="POST">

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 block-classe">
                        <img src="{{ asset('img/child.png') }}" alt="Un enfant" id="enfant">
                        <img src="{{ asset('img/lady.png') }}" alt="Une demoiselle" id="demoiselle">

                        {% if app.session.flashbag.has('classe_ok') %}
                            <div class="alert alert-success text-center">
                                {% for msg in app.session.flashBag.get('classe_ok') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form_start(form, {'method': 'post', 'action': path('jtir_enseignants_inscrire_classe') }) }}

                        {# Les erreurs générales du formulaires. #}
                        {{ form_errors(form) }}

                        <div class="col-lg-4">
                            <img src="{{ asset('img/notebook.png') }}" alt="Un cahier" id="cahier">

                            <h3 class="text-center">Votre classe</h3>
                            <hr class="small-hr">

                            <div class="form-group">
                                {# Génération du label #}
                                {{ form_label(form.adresse.departement) }}

                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.adresse.departement) }}

                                {# Génération de l'input #}
                                {{ form_widget(form.adresse.departement, {'attr': {'class':'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {# Génération du label #}
                                {{ form_label(form.adresse.ville) }}

                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.adresse.ville) }}

                                {# Génération de l'input #}
                                {{ form_widget(form.adresse.ville, {'attr': {'class':'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {# Génération du label #}
                                {{ form_label(form.adresse.etablissement) }}

                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.adresse.etablissement) }}

                                {# Génération de l'input #}
                                {{ form_widget(form.adresse.etablissement, {'attr': {'class':'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {# Génération du label #}
                                {{ form_label(form.niveau) }}

                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.niveau) }}

                                {# Génération de l'input #}
                                {{ form_widget(form.niveau, {'attr': {'class':'form-control'}}) }}
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <h3 class="text-center">Vos élèves</h3>
                            <hr class="small-hr">

                            <table class="table table-responsive table-bordered" id="table-eleve">
                                <thead class="table-classe">
                                <tr>
                                    <td>Nom</td>
                                    <td>Prénom</td>
                                    <td>Identifiant</td>
                                    <td>Mot de passe</td>
                                    <td>Confirmation MDP</td>
                                </tr>
                                </thead>
                                <tbody id="classe_eleves" data-prototype="
                                            {% filter escape %}
                                                {{ include('JTIRUserBundle:enseignants:prototype.html.twig',
                                                    { 'form' : form.eleves.vars.prototype }) }}
                                            {% endfilter %}">

                                </tbody>
                            </table>

                            <img src="{{ asset('img/add_icon.png') }}" alt="Ajouter un élève"
                                 class="ajout-eleve center-block">
                        </div>

                        <div class="col-lg-12">
                            <input type="submit" value="{{ 'form.classe.submit'|trans }}" class="btn btn-def btn-form center-block"/>
                        </div>

                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}

                    </div>
                </div>

            </form>

        </div>
    </section>
    <!-- /SECTION INSCRIRE CLASSE -->

{% endblock %}

{% block sitemap %}
    {{ include('JTIRUserBundle:enseignants:sitemap.html.twig') }}
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/jtirplatform/js/resizeLogo.js' filter='?jsqueeze' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
