<li><a href="{{ path('jtir_platform_index') }}">Accueil</a></li>
<li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Interface Enseignants <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('jtir_enseignants_inscrire_classe') }}">Inscrire une classe</a></li>
        <li><a href="{{ path('jtir_enseignants_bibliotheque') }}">Sélectionner un conte</a></li>
        <li><a href="{{ path('jtir_enseignants_partenariat') }}">Créer un partenariat</a></li>
        <li><a href="{{ path('jtir_enseignants_dashboard') }}">Tableau de bord</a></li>
    </ul>
</li>
<li><a href="{{ path('jtir_enseignants_tuto') }}">Tutoriels</a></li>
<li><a href="{{ path('jtir_platform_index') }}">Déconnexion</a></li>