{# On utilise ici le layout général, qui se situe dans le CoreBundle #}
{% extends "JTIRPlatformBundle::layout.html.twig" %}

{% block title %}
    Partenariat - {{ parent() }}
    {# parent() affiche le reste du block title. On ne fait que rajouter "Accueil - " au titre de la page #}
{% endblock %}

{% block menu %}
    {{ include('JTIRUserBundle:enseignants:menu.html.twig') }}
{% endblock %}

{% block body %}

    <!-- SECTION PARTENARIAT -->
    <section id="section_enseignants">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Création d'un partenariat</h2>
                    <hr>
                </div>
            </div>

            <form action="#">

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1 block-classe">
                        <img src="{{ asset('img/fairy.png') }}" alt="Une fée" id="fairy">
                        <img src="{{ asset('img/suitcase.png') }}" alt="Un attaché case" id="attachecase">

                        <div class="col-lg-4">
                            <h3 class="text-center">Rechercher une classe</h3>
                            <hr class="small-hr">

                            <div class="form-group">
                                <label for="departement">Département :</label>
                                <select name="departement" id="departement" class="form-control">
                                    <option value="" disabled selected>-- Choisissez un département --</option>
                                    <option value="ain">01 - Ain</option>
                                    <option value="aisne">02 - Aisne</option>
                                    <option value="allier">03 - Allier</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ville">Ville :</label>
                                <select name="ville" id="ville" class="form-control">
                                    <option value="" disabled selected>-- Choisissez une ville --</option>
                                    <option value="abbecourt">Abbécourt</option>
                                    <option value="achery">Achery</option>
                                    <option value="Agnicourt_et_sechelles">Agnicourt-et-Séchelles</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="etablissement">Établissement :</label>
                                <select name="etablissement" id="etablissement" class="form-control">
                                    <option value="etablissement" disabled selected>-- Choisissez un établissement --
                                    </option>
                                    <option value="albert_schweitzer">Ecole Albert Schweitzer</option>
                                    <option value="pierre_dohm">Ecole Pierre Dohm</option>
                                    <option value="jules_ferry">Ecole Jules Ferry</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="niveau">Niveau :</label>
                                <select name="niveau" id="niveau" class="form-control">
                                    <option value="" disabled selected>-- Choisissez un niveau --</option>
                                    <option value="gs">Grande section de maternelle</option>
                                    <option value="cp">CP</option>
                                    <option value="ce1">CE1</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <h3 class="text-center">Les classes disponibles</h3>
                            <hr class="small-hr">

                            <table class="table table-responsive table-bordered" id="table-eleve">
                                <thead class="table-classe">
                                <tr>
                                    <td>Établissement</td>
                                    <td>Classe</td>
                                    <td>Nom de l'enseignant</td>
                                    <td>Choix</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Ecole Albert Schweitzer</td>
                                    <td>CP</td>
                                    <td>Mr. ...</td>
                                    <td class="text-center"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ecole Albert Schweitzer</td>
                                    <td>CE1</td>
                                    <td>Mme. ...</td>
                                    <td class="text-center"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ecole Jules Ferry</td>
                                    <td>GS</td>
                                    <td>Mr. ...</td>
                                    <td class="text-center"><input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Ecole Pierre Dohm</td>
                                    <td>CE1</td>
                                    <td>Mme. ...</td>
                                    <td class="text-center"><input type="checkbox"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-def btn-form btn-big center-block">Envoyer une demande
                                de partenariat
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </section>
    <!-- /SECTION PARTENARIAT -->

{% endblock %}

{% block sitemap %}
    {{ include('JTIRUserBundle:enseignants:sitemap.html.twig') }}
{% endblock %}
