<li><a href="{{ path('jtir_enseignants_inscrire_classe') }}" class="footer-green">Inscrire une classe</a></li>
<li><a href="{{ path('jtir_enseignants_bibliotheque') }}" class="footer-green">Sélectionner un conte</a></li>
<li><a href="{{ path('jtir_enseignants_partenariat') }}" class="footer-green">Créer un partenariat</a></li>
<li><a href="{{ path('jtir_enseignants_dashboard') }}" class="footer-green">Tableau de bord</a></li>
<li><a href="{{ path('jtir_enseignants_tuto') }}" class="footer-green">Tutoriels</a></li>
<li><a href="{{ path('fos_user_security_logout') }}" class="footer-green">Déconnexion</a></li>