{# On utilise ici le layout général, qui se situe dans le CoreBundle #}
{% extends "JTIRPlatformBundle::layout.html.twig" %}

{% block title %}
    Tutoriels - {{ parent() }}
    {# parent() affiche le reste du block title. On ne fait que rajouter "Accueil - " au titre de la page #}
{% endblock %}

{% block menu %}
    <li><a href="{{ path('jtir_platform_index') }}">Accueil</a></li>
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Interface Enseignants <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('jtir_platform_inscrire_classe') }}">Inscrire une classe</a></li>
            <li><a href="{{ path('jtir_platform_bibliotheque_enseignant') }}">Sélectionner un conte</a></li>
            <li><a href="{{ path('jtir_platform_partenariat') }}">Créer un partenariat</a></li>
            <li><a href="{{ path('jtir_platform_dashboard') }}">Tableau de bord</a></li>
        </ul>
    </li>
    <li><a href="{{ path('jtir_platform_tuto') }}">Tutoriels</a></li>
    <li><a href="{{ path('jtir_platform_index') }}">Déconnexion</a></li>
{% endblock %}

{% block body %}



{% endblock %}
