{# On utilise ici le layout général #}
{% extends "JTIRPlatformBundle::layout.html.twig" %}

{% block title %}
    Inscription - {{ parent() }}
    {# parent() affiche le reste du block title. On ne fait que rajouter "Accueil - " au titre de la page #}
{% endblock %}

{% block menu %}
    <li><a href="{{ path('jtir_platform_index') }}">Accueil</a></li>
    <li><a href="">Connexion</a></li>
    <li><a href="{{ path('jtir_platform_bibliotheque_visiteur') }}">Bibliothèque de contes</a></li>
{% endblock %}

{% block body %}

    <!-- INSCRIPTION -->
    <section id="connexion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 formConnexion">
                    <img src="{{ asset('img/snail.png') }}" alt="Un escargot" id="escargot">
                    <img src="{{ asset('img/bee.png') }}" alt="Une abeille" id="abeille">
                    <img src="{{ asset('img/rat.png') }}" alt="Un rat" id="rat">

                    <div class="col-lg-12">
                        <h2>Inscription</h2>
                        <hr>
                    </div>

                    <form action="" method="post"> {# ACTION DU FORMULAIRE A MODIFIER #}

                        <div class="col-lg-4">

                            <div class="form-group">
                                <label for="civ">Civilité :</label>
                                <select name="civ" id="civ" class="form-control">
                                    <option value="" disabled selected>-- Choisissez une civilité --</option>
                                    <option value="mr">Mr.</option>
                                    <option value="mme">Mme.</option>
                                    <option value="mlle">Mlle.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom :</label>
                                <input type="text" class="form-control" id="nom">
                            </div>
                            <div class="form-group">
                                <label for="prenom">Prénom :</label>
                                <input type="text" class="form-control" id="prenom">
                            </div>

                            <div class="form-group">
                                <label for="departement">Département :</label>
                                <select name="departement" id="departement" class="form-control">
                                    <option value="" disabled selected>-- Choisissez un département --</option>
                                    <option value="ain">01 - Ain</option>
                                    <option value="aisne">02 - Aisne</option>
                                    <option value="allier">03 - Allier</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ville">Ville :</label>
                                <select name="ville" id="ville" class="form-control">
                                    <option value="" disabled selected>-- Choisissez une ville --</option>
                                    <option value="abbecourt">Abbécourt</option>
                                    <option value="achery">Achery</option>
                                    <option value="Agnicourt_et_sechelles">Agnicourt-et-Séchelles</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="etablissement">Établissement :</label>
                                <select name="etablissement" id="etablissement" class="form-control">
                                    <option value="etablissement" disabled selected>-- Choisissez un établissement --
                                    </option>
                                    <option value="albert_schweitzer">Ecole Albert Schweitzer</option>
                                    <option value="pierre_dohm">Ecole Pierre Dohm</option>
                                    <option value="jules_ferry">Ecole Jules Ferry</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="form-group">
                                <label for="email">Adresse e-mail :</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="identifiant">Identifiant :</label>
                                <input type="text" class="form-control" id="identifiant">
                            </div>
                            <div class="form-group">
                                <label for="mdp">Mot de passe :</label>
                                <input type="password" class="form-control" id="mdp">
                            </div>
                            <div class="form-group">
                                <label for="mdp-conf">Confirmation du mot de passe :</label>
                                <input type="password" class="form-control" id="mdp-conf">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-def btn-form center-block" name="inscription">
                                Créer mon compte
                            </button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- /INSCRIPTION -->

{% endblock %}
